/* colors */
/* 
#00A8E8
#007EA7
#003459
#00171F
#FFFFFF */
/* fonts */
/*
HEADER:
.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

BODY: 
.newsreader-<uniquifier> {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: <200>;
  font-style: normal;
}
*/


#gallery {
  background-color: #00171F;
  color: white;
}
#gallery h1 {
  color: white;
  font-family: newsreader, serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

